/*
Theme Name: Generatepress Child
Theme URI: http://example.com/generatepress-child/
description: >-
  Generatepress Child Theme
Author: John Doe
Author URI: http://captainweb.in
Template: generatepress
Version: 2.1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, one-column, right-sidebar, left-sidebar, footer-widgets, blog, e-commerce, flexible-header, full-width-template, buddypress, custom-header, custom-background, custom-menu, custom-colors, sticky-post, threaded-comments, translation-ready, rtl-language-support, featured-images, theme-optionsText Domain: generatepress-child
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
body{
  background-color: #efefef!important;
}
h1,h2{
  margin: 0px!important;
}
.tailor-ui .tailor-tabs__navigation-item{
  max-width: 200px!important;
}
li.Op-tab{
  border: 1px solid #efefef!important;
    background: #57606f!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;

}
li.Op-tab:hover{
  border: 1px solid #efefef!important;
    background: #0a3d62!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;

}
li.Op-tab.is-active{
  border: 1px solid #efefef!important;
    background: #0a3d62!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;

}
li.tech-tab{
  border: 1px solid #efefef!important;
    background: #57606f!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;
}
li.tech-tab:hover{
  border: 1px solid #efefef!important;
    background: #0a3d62!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;
}
li.tech-tab.is-active{
  border: 1px solid #efefef!important;
    background: #0a3d62!important;
    border-radius: 5% 15%;
    margin-left: 10px;
    color: #fff!important;
}
.site-content{
  padding-top: 10px!important;
}
.tailor-ui .tailor-toggle__title.is-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #108fce;
}
.sales{
  margin-bottom: 20px;
}
.ddl_enquiry{
  width: 95%!important;
  padding:12px 10px !important;
}
.wp-caption .wp-caption-text {
    font-size: 105%!important;
    padding-top: 5px!important;
    opacity: 10.8!important;
    text-align: center!important;
}
input[type="submit"]{
    
    width: 50%!important;
}

.content-title{
  
  font-family: ubuntu;
  color: #57606f!important;

}
.gradient_line{ 
    margin: 0 0 50px 0;
    display: block;
    border: none;
    height: 1px;
    background: #0071B9;
    background: linear-gradient(to right, white, #7777775e, #ccc, #ccc, white);
}
/*.menu>li{
  border-right: 1px dotted #fff;
    border-radius: 5px;
}
#menu-item-326{
  border-left: 1px dotted #fff;
  border-radius: 5px;
}*/
/*
.header-image{
margin-top: -20%;
   
    width: 90%;
}
.inside-navigation{
	background-color: #108fce;
}
.main-navigation{
	margin-top: 20px;
}
.site-logo{
	
    margin-left: -40px;
    margin-top: 20px;
}
.inside-header{
	    padding-bottom: 0px!important;
}
.site-content{
	padding-top: 0px!important;
	margin-top: 20px;
}
.main-title{
	margin-top:20px;
}
.line{
	height:120px;
}
.innerline {
    width: 5px;
    height: 120px;
    border-right: 1px solid #117bb6;
    border-left: 1px solid #117bb6;
    position: relative;
    left: calc(50% - 2px);
    animation-delay: 3s;
    animation-duration: 4s;
    animation: lineAnimation 4s cubic-bezier(1, 0.84, 1, 1) both !important;
}
@keyframes lineAnimation {
	0%{
		height: 0px;
	}
	25%{
		height: 120px;
	}
}
.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0000008a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tailor-card__header{
	background-color: #108fce;
	color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #131617c2;
}

.card-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.tailor-ui .tailor-tabs__navigation-item{
  padding: 20px!important;
  margin-bottom: 20px!important;
  margin-right: 20px;
  border-right: 1px solid #efefef!important;
  background-color: #efefef!important;
  max-width: 300px!important;
}
.tailor-ui:hover .tailor-tabs__navigation-item:hover{
  background-color: #108fce!important;
  color: #fff;

}
.tailor-ui .tailor-tab {
    position: relative;
    z-index: 2;
    padding: 1em;
    margin: 0;
    border: 1px solid #108fce!important;
    
}
.tailor-ui .tailor-tabs--left .tailor-tabs__navigation-item.is-active 
{
    background-color: #108fce!important;
    color: #fff;
}
.main-navigation .main-nav ul li a
{
   margin: 5px;
    border-top: 2px solid #108fce;
    border-bottom: 2px solid #108fce;
    transition: 0.8s cubic-bezier(0.4, 0, 1, 1);
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
     margin-left: 10px;
    margin-right: 10px;
    padding: 5px!important;
    line-height: 35px!important;
}
.main-navigation .main-nav ul li a:hover{
border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2px 0; 
}
.main-navigation .main-nav ul li a:active
{
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2px 0; 
}
.main-nav{
  height: 60px;
}
.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #ffffff;
    
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.headerwithhr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerwithhr h3 {
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  flex-grow: 0;
  font-style: italic;
  font-weight: 900;
}

.headerhr {
  flex-grow: 1;
  height: 2px;
  margin: 0 0 0 0.8rem;
  background-color: #9f9f9f;
}
hr.style-four {
padding: 0;
border: none;
border-top: medium double #333;
color: #333;
text-align: center;
}
hr.style-four:after {
content: "www.formget.com";
display: inline-block;
position: relative;
top: -0.7em;
font-size: 1.5em;
padding: 0 0.25em;
background: white;
}

hr.style-eight {
height: 5px;
margin-top: 20px!important;
    border: 1;
    box-shadow: inset 0 9px 9px -3px rgba(11, 136, 184, 0.55);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
.tailor-element .tailor-form .tailor-5b77c0aae7891{
  height: 80vh!important;

}
.sales{
  margin-bottom: 20px;
}
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea{
  border-left: none;
  border-top: none;
  border-right: none;
}
*/