/*
Theme Name: Generatepress Child
Theme URI: http://example.com/generatepress-child/
description: >-
  Generatepress Child Theme
Author: John Doe
Author URI: http://captainweb.in
Template: generatepress
Version: 2.1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, one-column, right-sidebar, left-sidebar, footer-widgets, blog, e-commerce, flexible-header, full-width-template, buddypress, custom-header, custom-background, custom-menu, custom-colors, sticky-post, threaded-comments, translation-ready, rtl-language-support, featured-images, theme-optionsText Domain: generatepress-child
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.header-image{
margin-top: -20%;
   
    width: 90%;
}
.inside-navigation{
	background-color: #108fce;
}
.main-navigation{
	margin-top: 20px;
}
.site-logo{
	float: left;
    margin-left: -40px;
    margin-top: 20px;
}
.inside-header{
	    padding-bottom: 0px!important;
}
.site-content{
	padding-top: 0px!important;
	margin-top: 20px;
}
.main-title{
	margin-top:20px;
}
.line{
	height:120px;
}
.innerline {
    width: 5px;
    height: 120px;
    border-right: 1px solid #117bb6;
    border-left: 1px solid #117bb6;
    position: relative;
    left: calc(50% - 2px);
    animation-delay: 3s;
    animation-duration: 4s;
    animation: fadeInDown 4s cubic-bezier(1, 0.84, 1, 1) both!important;
}
@keyframes fadeInDown {
	0%{
		height: 0px;
	}
	25%{
		height: 120px;
	}
}
.tailor-card__header{
	background-color: #108fce;
	color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #131617c2;
}

.card-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}