html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.tailor-ui .tailor-author {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: none;
  overflow: hidden;
}
.tailor-ui .tailor-author__wrap {
  padding: 0 2em 1em;
}
.tailor-ui .tailor-author__header {
  padding-top: 1rem;
  text-align: center;
}
.tailor-ui .tailor-author__avatar {
  margin: 0;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.tailor-ui .tailor-author__name {
  margin: 0 0 1rem;
  font-size: 1.25em;
  text-align: center;
}
.tailor-ui .tailor-author__social-links {
  padding: 0;
  margin: 0 0 0.5rem;
  list-style: none;
  text-align: center;
}
.tailor-ui .tailor-author__social-links li {
  display: inline-block;
  margin-right: 0.5rem;
}
.tailor-ui .tailor-author__social-links a {
  text-decoration: none;
}
.tailor-ui .tailor-author.has-header-image .tailor-author__header {
  position: relative;
  margin-bottom: 50px;
  min-height: 10rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tailor-ui .tailor-author.has-header-image .tailor-author__avatar {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tailor-ui .tailor-box {
  padding: 2em;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-box__title {
  display: block;
  margin: 1em 0;
}
.tailor-ui .tailor-box__graphic {
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
}
.tailor-ui .tailor-box--icon .tailor-box__title {
  margin-top: 0;
}
.tailor-ui .tailor-box--icon .tailor-box__graphic {
  position: relative;
  display: table;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
.tailor-ui .tailor-box--icon .tailor-box__graphic span {
  position: relative;
  z-index: 2;
  display: table-cell;
  width: 100%;
  text-align: inherit;
  vertical-align: middle;
  font-size: 2.5em;
}
.tailor-ui .tailor-box--image .tailor-box__graphic {
  margin-bottom: 1rem;
  max-width: 5em;
}
.tailor-ui .tailor-box.u-text-left .tailor-box__graphic {
  margin-left: 0;
}
.tailor-ui .tailor-box.u-text-center .tailor-box__graphic {
  margin-left: auto;
  margin-right: auto;
}
.tailor-ui .tailor-box.u-text-right .tailor-box__graphic {
  margin-left: auto;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .tailor-box.u-text-left-tablet .tailor-box__graphic {
    margin-left: 0;
    margin-right: auto;
  }
  .tailor-ui .tailor-box.u-text-center-tablet .tailor-box__graphic {
    margin-left: auto;
    margin-right: auto;
  }
  .tailor-ui .tailor-box.u-text-right-tablet .tailor-box__graphic {
    margin-left: auto;
    margin-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .tailor-box.u-text-left-mobile .tailor-box__graphic {
    margin-left: 0;
    margin-right: auto;
  }
  .tailor-ui .tailor-box.u-text-center-mobile .tailor-box__graphic {
    margin-left: auto;
    margin-right: auto;
  }
  .tailor-ui .tailor-box.u-text-right-mobile .tailor-box__graphic {
    margin-left: auto;
    margin-right: 0;
  }
}
.tailor-ui .tailor-button {
  margin-bottom: 1rem;
  width: 100%;
}
.tailor-ui .tailor-button__inner {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  background-color: #fdfdfd;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
}
.tailor-ui .tailor-button__inner > * {
  display: inline-table;
  line-height: inherit;
  font-size: inherit;
}
.tailor-ui .tailor-button__inner i:not( :only-child) {
  margin-right: 0.25em;
}
.tailor-ui .tailor-button__inner:focus, .tailor-ui .tailor-button__inner:hover {
  outline: 0;
  background-color: #f8f8f8;
}
.tailor-ui .tailor-button__inner:active {
  background-color: #f0f0f0;
}
.tailor-ui .tailor-button__inner:focus, .tailor-ui .tailor-button__inner:hover, .tailor-ui .tailor-button__inner:active {
  border-color: #e2e2e2;
}
.tailor-ui .tailor-button--primary .tailor-button__inner {
  color: #fff;
  background-color: #0f95ee;
  border-color: #0e8fe4;
}
.tailor-ui .tailor-button--primary .tailor-button__inner:focus, .tailor-ui .tailor-button--primary .tailor-button__inner:hover {
  background-color: #0e8fe4;
}
.tailor-ui .tailor-button--primary .tailor-button__inner:active {
  background-color: #0d86d6;
}
.tailor-ui .tailor-button--primary .tailor-button__inner:hover, .tailor-ui .tailor-button--primary .tailor-button__inner:focus, .tailor-ui .tailor-button--primary .tailor-button__inner:active {
  border-color: #0d80cc;
}
.tailor-ui .tailor-button--block .tailor-button__inner, .tailor-ui .tailor-button.u-text-justify .tailor-button__inner {
  display: block;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .tailor-button--block-mobile .tailor-button__inner, .tailor-ui .tailor-button.u-text-justify-tablet .tailor-button__inner {
    display: block;
  }
  .tailor-ui .tailor-button.u-text-left-tablet .tailor-button__inner, .tailor-ui .tailor-button.u-text-center-tablet .tailor-button__inner, .tailor-ui .tailor-button.u-text-right-tablet .tailor-button__inner {
    display: inline-block;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .tailor-button--block-mobile .tailor-button__inner, .tailor-ui .tailor-button.u-text-justify-mobile .tailor-button__inner {
    display: block;
  }
  .tailor-ui .tailor-button.u-text-left-mobile .tailor-button__inner, .tailor-ui .tailor-button.u-text-center-mobile .tailor-button__inner, .tailor-ui .tailor-button.u-text-right-mobile .tailor-button__inner {
    display: inline-block;
  }
}
.tailor-ui .tailor-button--small {
  font-size: 0.8em;
}
.tailor-ui .tailor-button--large {
  font-size: 1.6em;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .tailor-button--small-tablet {
    font-size: 0.8em;
  }
  .tailor-ui .tailor-button--medium-tablet {
    font-size: 1em;
  }
  .tailor-ui .tailor-button--large-tablet {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .tailor-button--small-mobile {
    font-size: 0.8em;
  }
  .tailor-ui .tailor-button--medium-mobile {
    font-size: 1em;
  }
  .tailor-ui .tailor-button--large-mobile {
    font-size: 1.6em;
  }
}
.tailor-ui .tailor-content {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-content::after {
  content: "";
  display: table;
  clear: both;
}
.tailor-ui .tailor-content > :last-child {
  margin-bottom: 0;
}
.tailor-ui .tailor-content--placeholder p {
  opacity: 0.5;
}
.tailor-ui .tailor-form {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-tabs {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-tabs__navigation, .tailor-ui .tailor-tabs__content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tailor-ui .tailor-tabs__navigation-item {
  position: relative;
  z-index: 1;
  display: block;
  padding: 0.5em 1em;
  margin-bottom: -1px;
  border: 1px solid #efefef;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tailor-ui .tailor-tabs__navigation-item.is-active {
  z-index: 3;
  background-color: #fff;
}
.tailor-ui .tailor-tabs__navigation-item:not( .is-active) {
  background-color: #fdfdfd;
}
.tailor-ui .tailor-tab {
  position: relative;
  z-index: 2;
  padding: 1em;
  margin: 0;
  border: 1px solid #efefef;
  background-color: #fff;
}
.tailor-ui .tailor-tab:not( :first-child) {
  display: none;
}
.tailor-editor .tailor-tabs__content .tailor-tab, .no-js .tailor-tabs__content .tailor-tab {
  display: block;
}
@media only screen and (min-width: 321px) {
  .tailor-ui .tailor-tabs__navigation::after {
    content: "";
    display: table;
    clear: both;
  }
  .tailor-ui .tailor-tabs__navigation-item {
    max-width: 180px;
  }
  .tailor-ui .tailor-tabs--top .tailor-tabs__navigation {
    margin-bottom: -1px;
  }
  .tailor-ui .tailor-tabs--top .tailor-tabs__navigation-item {
    float: left;
    margin-bottom: 0;
    border-bottom: none;
  }
  .tailor-ui .tailor-tabs--top .tailor-tabs__navigation-item:not( :last-child) {
    margin-right: -1px;
  }
  .tailor-ui .tailor-tabs--left .tailor-tabs__navigation {
    float: left;
    margin-right: -1px;
  }
  .tailor-ui .tailor-tabs--left .tailor-tabs__navigation-item {
    margin-bottom: 0;
    border-right: none;
  }
  .tailor-ui .tailor-tabs--left .tailor-tabs__navigation-item.is-active {
    border-right-color: #fff;
  }
  .tailor-ui .tailor-tabs--right .tailor-tabs__navigation {
    float: right;
    margin-left: -1px;
  }
  .tailor-ui .tailor-tabs--right .tailor-tabs__navigation-item {
    margin-bottom: 0;
    border-left: none;
  }
  .tailor-ui .tailor-tabs--right .tailor-tabs__navigation-item.is-active {
    border-left-color: #fff;
  }
  .tailor-ui .tailor-tabs--left .tailor-tabs__navigation-item:not( :first-child), .tailor-ui .tailor-tabs--right .tailor-tabs__navigation-item:not( :first-child) {
    margin-top: -1px;
  }
  .tailor-ui .tailor-tabs--left .tailor-tabs__content .tailor-tab, .tailor-ui .tailor-tabs--right .tailor-tabs__content .tailor-tab {
    display: block;
    overflow: hidden;
  }
  .tailor-ui .tailor-tabs--left::after, .tailor-ui .tailor-tabs--right::after {
    content: "";
    display: table;
    clear: both;
  }
}
.tailor-ui .tailor-carousel {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-carousel--slider > .slick-dots, .tailor-ui .tailor-carousel--slider > .tailor-carousel__wrap > .slick-dots {
  position: absolute;
  bottom: 0;
  border-top-width: 0;
}
.tailor-ui .tailor-carousel:not( [data-slides="1"]) > .tailor-carousel__wrap > .slick-list > .slick-track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tailor-ui .tailor-carousel__wrap, .tailor-ui .tailor-carousel__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tailor-ui .tailor-carousel__item {
  padding: 1em 1.25em;
}
.tailor-ui .tailor-carousel__item.u-align-top, .tailor-ui .tailor-carousel__item.u-align-middle, .tailor-ui .tailor-carousel__item.u-align-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tailor-ui .tailor-row {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-column {
  position: relative;
  min-height: 1px;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
[dir=rtl] .tailor-ui .tailor-row {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.tailor-ui .mobile-columns {
  margin-left: -1rem;
  margin-right: -1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tailor-ui .mobile-columns .columns-1 {
  width: 8.33333%;
}
.tailor-ui .mobile-columns .columns-2 {
  width: 16.66667%;
}
.tailor-ui .mobile-columns .columns-3 {
  width: 25%;
}
.tailor-ui .mobile-columns .columns-4 {
  width: 33.33333%;
}
.tailor-ui .mobile-columns .columns-5 {
  width: 41.66667%;
}
.tailor-ui .mobile-columns .columns-6 {
  width: 50%;
}
.tailor-ui .mobile-columns .columns-7 {
  width: 58.33333%;
}
.tailor-ui .mobile-columns .columns-8 {
  width: 66.66667%;
}
.tailor-ui .mobile-columns .columns-9 {
  width: 75%;
}
.tailor-ui .mobile-columns .columns-10 {
  width: 83.33333%;
}
.tailor-ui .mobile-columns .columns-11 {
  width: 91.66667%;
}
.tailor-ui .mobile-columns .columns-12 {
  width: 100%;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-1 {
    width: 8.33333%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-2 {
    width: 16.66667%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-4 {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-5 {
    width: 41.66667%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-7 {
    width: 58.33333%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-8 {
    width: 66.66667%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-10 {
    width: 83.33333%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-11 {
    width: 91.66667%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .mobile-columns .columns-tablet-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-1 {
    width: 8.33333%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-2 {
    width: 16.66667%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-3 {
    width: 25%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-4 {
    width: 33.33333%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-5 {
    width: 41.66667%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-6 {
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-7 {
    width: 58.33333%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-8 {
    width: 66.66667%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-9 {
    width: 75%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-10 {
    width: 83.33333%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-11 {
    width: 91.66667%;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .mobile-columns .columns-mobile-12 {
    width: 100%;
  }
}
.tailor-ui .mobile-columns .tailor-column {
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tailor-ui .mobile-columns .tailor-column > :last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 321px) {
  .tailor-ui .tablet-columns {
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tailor-ui .tablet-columns .columns-1 {
    width: 8.33333%;
  }
  .tailor-ui .tablet-columns .columns-2 {
    width: 16.66667%;
  }
  .tailor-ui .tablet-columns .columns-3 {
    width: 25%;
  }
  .tailor-ui .tablet-columns .columns-4 {
    width: 33.33333%;
  }
  .tailor-ui .tablet-columns .columns-5 {
    width: 41.66667%;
  }
  .tailor-ui .tablet-columns .columns-6 {
    width: 50%;
  }
  .tailor-ui .tablet-columns .columns-7 {
    width: 58.33333%;
  }
  .tailor-ui .tablet-columns .columns-8 {
    width: 66.66667%;
  }
  .tailor-ui .tablet-columns .columns-9 {
    width: 75%;
  }
  .tailor-ui .tablet-columns .columns-10 {
    width: 83.33333%;
  }
  .tailor-ui .tablet-columns .columns-11 {
    width: 91.66667%;
  }
  .tailor-ui .tablet-columns .columns-12 {
    width: 100%;
  }
  .tailor-ui .tablet-columns .tailor-column {
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tailor-ui .tablet-columns .tailor-column > :last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 721px) {
  .tailor-ui .desktop-columns {
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tailor-ui .desktop-columns .columns-1 {
    width: 8.33333%;
  }
  .tailor-ui .desktop-columns .columns-2 {
    width: 16.66667%;
  }
  .tailor-ui .desktop-columns .columns-3 {
    width: 25%;
  }
  .tailor-ui .desktop-columns .columns-4 {
    width: 33.33333%;
  }
  .tailor-ui .desktop-columns .columns-5 {
    width: 41.66667%;
  }
  .tailor-ui .desktop-columns .columns-6 {
    width: 50%;
  }
  .tailor-ui .desktop-columns .columns-7 {
    width: 58.33333%;
  }
  .tailor-ui .desktop-columns .columns-8 {
    width: 66.66667%;
  }
  .tailor-ui .desktop-columns .columns-9 {
    width: 75%;
  }
  .tailor-ui .desktop-columns .columns-10 {
    width: 83.33333%;
  }
  .tailor-ui .desktop-columns .columns-11 {
    width: 91.66667%;
  }
  .tailor-ui .desktop-columns .columns-12 {
    width: 100%;
  }
  .tailor-ui .desktop-columns .tailor-column {
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tailor-ui .desktop-columns .tailor-column > :last-child {
    margin-bottom: 0;
  }
}
.tailor-ui .tailor-jetpack-portfolio {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-jetpack-testimonials {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-jetpack-testimonials .testimonial-entry {
  margin-bottom: 0;
}
.tailor-ui .tailor-list {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-list__graphic {
  position: relative;
  float: left;
  text-align: center;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
}
.tailor-ui .tailor-list__body {
  display: block;
  overflow: hidden;
}
.tailor-ui .tailor-list__title {
  display: block;
  padding: 0;
  margin: 0.65em 0 0.5em;
  font-size: inherit;
  line-height: inherit;
}
.tailor-ui .tailor-list__content :last-child {
  margin-bottom: 0;
}
.tailor-ui .tailor-list__item {
  padding: 0;
  margin: 0 0 1rem;
  list-style: none;
  border-color: #efefef;
}
.tailor-ui .tailor-list__item::after {
  content: "";
  display: table;
  clear: both;
}
.tailor-ui .tailor-list__item--image .tailor-list__graphic {
  max-width: 3em;
}
.tailor-ui .tailor-list__item--image.tailor-list__item--left .tailor-list__graphic {
  margin-right: 1rem;
}
.tailor-ui .tailor-list__item--image.tailor-list__item--right .tailor-list__graphic {
  margin-left: 1rem;
}
.tailor-ui .tailor-list__item--number {
  counter-increment: step-counter;
}
.tailor-ui .tailor-list__item--number .tailor-list__graphic span {
  font-weight: 600;
}
.tailor-ui .tailor-list__item--number .tailor-list__graphic span::before {
  content: counter(step-counter);
}
.tailor-ui .tailor-list__item--icon .tailor-list__graphic, .tailor-ui .tailor-list__item--number .tailor-list__graphic {
  display: table;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.tailor-ui .tailor-list__item--icon .tailor-list__graphic span, .tailor-ui .tailor-list__item--number .tailor-list__graphic span {
  position: relative;
  z-index: 2;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.tailor-ui .tailor-list__item--icon .tailor-list__graphic span {
  font-size: 1.5em;
}
.tailor-ui .tailor-list__item.u-text-left .tailor-list__graphic {
  float: left;
}
.tailor-ui .tailor-list__item.u-text-right .tailor-list__graphic {
  float: right;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .tailor-list__item.u-text-left-tablet .tailor-list__graphic {
    float: left;
  }
  .tailor-ui .tailor-list__item.u-text-right-tablet .tailor-list__graphic {
    float: right;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .tailor-list__item.u-text-left-mobile .tailor-list__graphic {
    float: left;
  }
  .tailor-ui .tailor-list__item.u-text-right-mobile .tailor-list__graphic {
    float: right;
  }
}
.tailor-ui .tailor-list__item.u-text-left::after, .tailor-ui .tailor-list__item.u-text-left-tablet::after, .tailor-ui .tailor-list__item.u-text-left-mobile::after, .tailor-ui .tailor-list__item.u-text-right::after, .tailor-ui .tailor-list__item.u-text-right-tablet::after, .tailor-ui .tailor-list__item.u-text-right-mobile::after {
  content: "";
  display: table;
  clear: both;
}
[dir=rtl] .tailor-ui .tailor-list__graphic {
  float: right;
}
[dir=rtl] .tailor-ui .tailor-list__item.u-text-left .tailor-list__graphic {
  float: left;
}
.tailor-ui .tailor-gallery {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-grid {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-grid__item {
  min-height: 1px;
  width: 100%;
  border: 1px none #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tailor-ui .tailor-grid--posts .tailor-grid {
  display: block;
}
.tailor-ui .tailor-grid--posts .tailor-grid__item {
  padding: 1em;
}
.tailor-ui .tailor-grid--mobile .tailor-grid__item {
  padding: 1em;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--1 > .tailor-grid__item {
  width: 100%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 2) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( -n + 1) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--2 > .tailor-grid__item {
  width: 50%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 3) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( -n + 2) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--3 > .tailor-grid__item {
  width: 33.33333%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 4) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( -n + 3) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--4 > .tailor-grid__item {
  width: 25%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 5) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( -n + 4) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--5 > .tailor-grid__item {
  width: 20%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 6) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( -n + 5) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--6 > .tailor-grid__item {
  width: 16.66667%;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 7) {
  clear: left;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( -n + 6) {
  border-top-style: solid;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 1) {
  border-left-style: solid;
}
.tailor-ui .tailor-grid--mobile:not( .tailor-grid--masonry) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.tailor-ui .tailor-grid--mobile.tailor-grid--bordered > .tailor-grid__item {
  border-left-style: none;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
}
@media only screen and (min-width: 321px) {
  .tailor-ui .tailor-grid--tablet .tailor-grid__item {
    padding: 1em;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--1 > .tailor-grid__item {
    width: 100%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 2) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( -n + 1) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--2 > .tailor-grid__item {
    width: 50%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 3) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( -n + 2) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--3 > .tailor-grid__item {
    width: 33.33333%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 4) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( -n + 3) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--4 > .tailor-grid__item {
    width: 25%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 5) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( -n + 4) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--5 > .tailor-grid__item {
    width: 20%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 6) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( -n + 5) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--6 > .tailor-grid__item {
    width: 16.66667%;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 7) {
    clear: left;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( -n + 6) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--tablet:not( .tailor-grid--masonry) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .tailor-ui .tailor-grid--tablet.tailor-grid--bordered > .tailor-grid__item {
    border-left-style: none;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
  }
}
@media only screen and (min-width: 721px) {
  .tailor-ui .tailor-grid--desktop .tailor-grid__item {
    padding: 1em;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--1 > .tailor-grid__item {
    width: 100%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 2) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( -n + 1) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--1 > .tailor-grid__item:nth-child( 1n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--2 > .tailor-grid__item {
    width: 50%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 3) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( -n + 2) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--2 > .tailor-grid__item:nth-child( 2n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--3 > .tailor-grid__item {
    width: 33.33333%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 4) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( -n + 3) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--3 > .tailor-grid__item:nth-child( 3n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--4 > .tailor-grid__item {
    width: 25%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 5) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( -n + 4) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--4 > .tailor-grid__item:nth-child( 4n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--5 > .tailor-grid__item {
    width: 20%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 6) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( -n + 5) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--5 > .tailor-grid__item:nth-child( 5n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--6 > .tailor-grid__item {
    width: 16.66667%;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 7) {
    clear: left;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( -n + 6) {
    border-top-style: solid;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered.tailor-grid--6 > .tailor-grid__item:nth-child( 6n + 1) {
    border-left-style: solid;
  }
  .tailor-ui .tailor-grid--desktop:not( .tailor-grid--masonry) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .tailor-ui .tailor-grid--desktop.tailor-grid--bordered > .tailor-grid__item {
    border-left-style: none;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
  }
}
.tailor-ui .wpcf7 {
  padding: 0;
  margin-bottom: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .wpcf7 input, .tailor-ui .wpcf7 select, .tailor-ui .wpcf7 textarea {
  max-width: 100%;
}
.tailor-ui .tailor-map {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}
.tailor-ui .tailor-map__canvas {
  height: 400px;
}
.tailor-ui .tailor-map__marker {
  display: none;
}
.tailor-ui .tailor-card {
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.tailor-ui .tailor-card__header {
  margin: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #efefef;
}
.tailor-ui .tailor-card__title {
  display: table-cell;
  vertical-align: bottom;
  color: inherit;
  font-size: 1.25em;
}
.tailor-ui .tailor-card__header:not( :empty), .tailor-ui .tailor-card__content {
  padding: 1em 1.25em;
}
.tailor-ui .tailor-card.has-header-image .tailor-card__header {
  color: #fff;
  text-shadow: 1px 1px #666;
  height: 180px;
}
.tailor-ui .tailor-hero {
  padding: 2em;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-hero h1 {
  font-size: 3em;
}
.tailor-ui .tailor-hero h2 {
  font-size: 2.25em;
}
.tailor-ui .tailor-hero h1, .tailor-ui .tailor-hero h2 {
  color: inherit;
  font-weight: inherit;
}
@media only screen and (min-width: 321px) {
  .tailor-ui .tailor-hero {
    padding: 2.5em;
    font-size: 1.25em;
  }
}
.tailor-ui .tailor-toggles {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}
.tailor-ui .tailor-toggle {
  margin-bottom: 0.5rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}
.tailor-ui .tailor-toggle__title {
  display: block;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: inherit;
  border: 1px solid #efefef;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tailor-ui .tailor-toggle__title i {
  margin-right: 0.5em;
  font-size: inherit;
  line-height: inherit;
}
.tailor-ui .tailor-toggle__title.is-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tailor-ui .tailor-toggle__title.is-active ~ .tailor-toggle__body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tailor-ui .tailor-toggle__body {
  display: none;
  padding: 1em;
  margin: 0;
  border: 1px solid #efefef;
  border-top-width: 0;
  border-radius: 0;
}
.tailor-editor .tailor-toggle__body, .no-js .tailor-toggle__body {
  display: block;
}
#canvas .tailor-toggle:not( .is-selected) .tailor-toggle__title {
  pointer-events: none;
}
.tailor-ui .tailor-posts {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-posts .entry {
  margin-bottom: 1.5rem;
}
.tailor-ui .tailor-posts .entry__title {
  margin: 1rem 0 0.5rem;
}
.tailor-ui .tailor-posts .entry__title a {
  color: inherit;
}
.tailor-ui .tailor-posts .entry__meta {
  display: block;
  font-size: 0.8em;
}
.tailor-ui .tailor-posts .entry__meta span {
  position: relative;
  display: inline-block;
}
.tailor-ui .tailor-posts .entry__meta span:not( :last-child) {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.tailor-ui .tailor-posts .entry__meta span:not( :last-child)::after {
  position: absolute;
  right: 0;
  content: '|';
}
.tailor-ui .tailor-posts .entry__thumbnail {
  overflow: hidden;
}
.tailor-ui .tailor-posts .entry__thumbnail a {
  display: block;
}
.tailor-ui .tailor-posts .entry__thumbnail img {
  margin: 0;
}
.tailor-ui .tailor-posts .entry__more {
  display: inline-block;
  margin-top: 0.25rem;
}
.tailor-ui .tailor-posts .entry:last-child {
  margin-bottom: 0;
}
.tailor-ui .tailor-posts .entry-pagination {
  margin-top: 1rem;
}
.tailor-ui .tailor-posts--boxed .entry {
  border: 1px solid #efefef;
  background-color: #fff;
  overflow: hidden;
}
.tailor-ui .tailor-posts--boxed .entry__content {
  padding: 0 2rem 2rem;
}
.tailor-ui .tailor-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-section__content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  max-width: 100;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tailor-ui .tailor-section__background {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.tailor-ui .tailor-section.is-parallax, .tailor-ui .tailor-section.has-background-image {
  overflow: hidden;
}
.tailor-ui .tailor-section.u-align-top .tailor-section__content {
  justify-content: flex-start;
}
.tailor-ui .tailor-section.u-align-middle .tailor-section__content {
  justify-content: center;
}
.tailor-ui .tailor-section.u-align-bottom .tailor-section__content {
  justify-content: flex-end;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .tailor-section.u-align-top-tablet .tailor-section__content {
    justify-content: flex-start;
  }
  .tailor-ui .tailor-section.u-align-middle-tablet .tailor-section__content {
    justify-content: center;
  }
  .tailor-ui .tailor-section.u-align-bottom-tablet .tailor-section__content {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .tailor-section.u-align-top-mobile .tailor-section__content {
    justify-content: flex-start;
  }
  .tailor-ui .tailor-section.u-align-middle-mobile .tailor-section__content {
    justify-content: center;
  }
  .tailor-ui .tailor-section.u-align-bottom-mobile .tailor-section__content {
    justify-content: flex-end;
  }
}
.tailor-ui .tailor-section.is-skewed {
  transform: skew(0deg, -3deg);
}
.tailor-ui .tailor-section.is-skewed .tailor-section__content {
  transform: skew(0deg, 3deg);
}
.tailor-ui .tailor-widget {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-ui .tailor-widget-area {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
  border: 1px none #efefef;
  border-radius: 0;
  box-shadow: none;
}
.tailor-responsive-embed {
  position: relative;
  display: block;
  padding: 0;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.tailor-responsive-embed iframe, .tailor-responsive-embed embed, .tailor-responsive-embed object, .tailor-responsive-embed video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.tailor-responsive-embed.tailor-responsive-embed-4by3 {
  padding-bottom: 75%;
}
.tailor-ui .tailor-slideshow {
  padding: 0;
}
.tailor-ui .tailor-slideshow__slides, .tailor-ui .tailor-slideshow__slide {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tailor-ui .tailor-slideshow__slide img {
  max-width: 100%;
}
.tailor-ui .tailor-slideshow .slick-track {
  display: block;
}
.tailor-ui .tailor-slideshow .slick-dots li {
  margin: 0 4px;
  list-style: none;
}
.tailor-ui .tailor-slideshow .slick-dots {
  bottom: 0;
  text-align: center;
  border-top: none;
  margin: 1rem 0;
}
.tailor-ui .tailor-slideshow .slick-dots li {
  margin: 0;
  display: inline-block;
  width: 80px;
  height: auto;
  max-width: calc(25% - 4px);
  cursor: pointer;
}
.tailor-ui .tailor-slideshow .slick-dots li:not( .slick-active) {
  opacity: 0.5;
}
.tailor-ui .tailor-slideshow .slick-dots li img {
  max-width: 100%;
}
.entry-pagination .next, .entry-pagination .previous, .entry-pagination .page-numbers {
  display: inline-block;
  padding: 0.125em 0.5em;
  border-radius: 4px;
  background-color: #fefefe;
  font-size: 0.85em;
}
.entry-pagination a {
  border: 1px solid #efefef;
}
.tailor-ui .tailor-attachment {
  margin: 0;
}
.tailor-ui .tailor-attachment__image {
  position: relative;
  display: block;
  margin: 0;
  outline: none;
  border: none;
  box-shadow: none;
  height: 100%;
}
.tailor-ui .tailor-attachment__image img {
  display: block;
  margin: 0 auto;
}
.tailor-ui .tailor-attachment__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  background-color: rgba(35, 35, 35, 0.4);
  font-size: 14px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tailor-ui .is-stretched img {
  width: 100%;
}
.tailor-ui .aspect-ratio-1-1 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-1-1::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 100%;
}
.tailor-ui .aspect-ratio-1-1.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-1-1 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-1-1 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-1-1 > * img {
  width: auto;
}
.tailor-ui .aspect-ratio-3-2 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-3-2::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 66.66667%;
}
.tailor-ui .aspect-ratio-3-2.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-3-2 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-3-2 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-3-2 > * img {
  width: 100%;
  height: auto;
  max-height: none;
}
.tailor-ui .aspect-ratio-2-3 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-2-3::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 150%;
}
.tailor-ui .aspect-ratio-2-3.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-2-3 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-2-3 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-2-3 > * img {
  width: auto;
  max-width: none;
  height: 100%;
}
.tailor-ui .aspect-ratio-4-3 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-4-3::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 75%;
}
.tailor-ui .aspect-ratio-4-3.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-4-3 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-4-3 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-4-3 > * img {
  width: 100%;
  height: auto;
  max-height: none;
}
.tailor-ui .aspect-ratio-3-4 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-3-4::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 133.33333%;
}
.tailor-ui .aspect-ratio-3-4.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-3-4 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-3-4 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-3-4 > * img {
  width: auto;
  max-width: none;
  height: 100%;
}
.tailor-ui .aspect-ratio-16-9 {
  position: relative;
  overflow: hidden;
}
.tailor-ui .aspect-ratio-16-9::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.tailor-ui .aspect-ratio-16-9.is-stretched img {
  min-height: 100%;
  min-width: 100%;
}
.tailor-ui .aspect-ratio-16-9 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tailor-ui .aspect-ratio-16-9 > * img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.tailor-ui .aspect-ratio-16-9 > * img {
  width: 100%;
  height: auto;
  max-height: none;
}
.tailor-ui .slick-arrow.slick-hidden {
  display: none;
}
.tailor-ui .slick-slider {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.tailor-ui .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.tailor-ui .slick-list:focus {
  outline: none;
}
.tailor-ui .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.tailor-ui .slick-track, .tailor-ui .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tailor-ui .slick-track {
  position: relative;
  left: 0;
  top: 0;
}
.tailor-ui .slick-track::before, .tailor-ui .slick-track::after {
  content: "";
  display: table;
}
.tailor-ui .slick-track::after {
  clear: both;
}
.slick-loading .tailor-ui .slick-track {
  visibility: hidden;
}
.tailor-ui .slick-slide {
  float: left;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .tailor-ui .slick-slide {
  float: right;
}
.tailor-ui .slick-slide img {
  display: block;
}
.tailor-ui .slick-slide.slick-loading img {
  display: none;
}
.tailor-ui .slick-slide.dragging img {
  pointer-events: none;
}
.tailor-ui .slick-loading .slick-slide {
  visibility: hidden;
}
.tailor-ui .slick-vertical .slick-slide {
  height: auto;
  border: 1px solid transparent;
}
.tailor-ui .slick-arrow {
  position: absolute;
  top: calc(50% - 41px);
  z-index: 99;
  padding: 0;
  margin: 0;
  width: 36px;
  outline: none;
  border: 1px solid #efefef;
  background-color: #fff;
  color: #0f95ee;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tailor-ui .slick-arrow::before {
  position: relative;
  top: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  speak: none;
  color: inherit;
  line-height: 80px;
}
.tailor-ui .slick-arrow.slick-prev {
  left: 4px;
}
.tailor-ui .slick-arrow.slick-prev::before {
  content: '\2039';
}
.tailor-ui .slick-arrow.slick-next {
  right: 4px;
}
.tailor-ui .slick-arrow.slick-next::before {
  content: '\203A';
}
.tailor-ui .slick-arrow.slick-disabled {
  color: rgba(0, 0, 0, 0.1);
}
.tailor-ui .slick-slider:hover .slick-arrow {
  opacity: 1;
}
.tailor-ui .slick-dots {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: #efefef;
  list-style: none;
  text-align: center;
  width: 100%;
}
.tailor-ui .slick-dots li {
  position: relative;
  padding: 0;
  margin: 12px 3px;
  display: inline-block;
  display: -moz-inline-stack;
  cursor: pointer;
}
.tailor-ui .slick-dots li button {
  display: block;
  margin: 0;
  padding: 0;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: relative;
  transition: border-color 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  background: transparent;
  color: transparent;
  line-height: 0;
  outline: none;
  pointer-events: none;
}
.tailor-ui .slick-dots li button:hover, .tailor-ui .slick-dots li button:focus {
  margin: 0;
  outline: none;
}
.tailor-ui .slick-dots li button::before {
  display: block;
  height: 14px;
  width: 14px;
  position: absolute;
  content: ' ';
  top: -2px;
  left: -2px;
  border-radius: 100%;
  background-color: #0f95ee;
  opacity: 0;
  transition: -webkit-transform 700ms cubic-bezier(0.19, 1, -1.78, 1) 0ms, background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 700ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.tailor-ui .slick-dots li.slick-active button::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.tailor-ui .slick-dots li:hover button {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tailor-ui .mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tailor-ui .mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.tailor-ui .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tailor-ui .mfp-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.tailor-ui .mfp-align-top .mfp-container::before {
  display: none;
}
.tailor-ui .mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.tailor-ui .mfp-inline-holder .mfp-content, .tailor-ui .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.tailor-ui .mfp-ajax-cur {
  cursor: progress;
}
.tailor-ui .mfp-zoom-out-cur, .tailor-ui .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.tailor-ui .mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.tailor-ui .mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.tailor-ui .mfp-close, .tailor-ui .mfp-arrow, .tailor-ui .mfp-preloader, .tailor-ui .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tailor-ui .mfp-loading.mfp-figure {
  display: none;
}
.tailor-ui .mfp-hide {
  display: none;
}
.tailor-ui .mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.tailor-ui .mfp-preloader a {
  color: #ccc;
}
.tailor-ui .mfp-preloader a:hover {
  color: #fff;
}
.tailor-ui .mfp-s-ready .mfp-preloader {
  display: none;
}
.tailor-ui .mfp-s-error .mfp-content {
  display: none;
}
.tailor-ui button.mfp-close, .tailor-ui button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tailor-ui button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.tailor-ui .mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.tailor-ui .mfp-close:hover, .tailor-ui .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tailor-ui .mfp-close:active {
  transform: translateY(1px);
}
.tailor-ui .mfp-close-btn-in .mfp-close {
  color: #333;
}
.tailor-ui .mfp-image-holder .mfp-close, .tailor-ui .mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.tailor-ui .mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.tailor-ui .mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tailor-ui .mfp-arrow:active {
  transform: translateY(1px);
}
.tailor-ui .mfp-arrow:hover, .tailor-ui .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tailor-ui .mfp-arrow::before, .tailor-ui .mfp-arrow::after, .tailor-ui .mfp-arrow .mfp-b, .tailor-ui .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.tailor-ui .mfp-arrow::after, .tailor-ui .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.tailor-ui .mfp-arrow::before, .tailor-ui .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.tailor-ui .mfp-arrow-left {
  left: 0;
}
.tailor-ui .mfp-arrow-left::after, .tailor-ui .mfp-arrow-left .mfp-a {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.tailor-ui .mfp-arrow-left::before, .tailor-ui .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.tailor-ui .mfp-arrow-right {
  right: 0;
}
.tailor-ui .mfp-arrow-right::after, .tailor-ui .mfp-arrow-right .mfp-a {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.tailor-ui .mfp-arrow-right::before, .tailor-ui .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}
.tailor-ui .mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.tailor-ui .mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.tailor-ui .mfp-iframe-holder .mfp-close {
  top: -40px;
}
.tailor-ui .mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.tailor-ui .mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
.tailor-ui img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
.tailor-ui .mfp-figure {
  line-height: 0;
}
.tailor-ui .mfp-figure::after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.tailor-ui .mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.tailor-ui .mfp-figure figure {
  margin: 0;
}
.tailor-ui .mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.tailor-ui .mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.tailor-ui .mfp-image-holder .mfp-content {
  max-width: 100%;
}
.tailor-ui .mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .tailor-ui .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .tailor-ui .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .tailor-ui .mfp-img-mobile .mfp-figure::after {
    top: 0;
    bottom: 0;
  }
  .tailor-ui .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .tailor-ui .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .tailor-ui .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .tailor-ui .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .tailor-ui .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .tailor-ui .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .tailor-ui .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .tailor-ui .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .tailor-ui .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.tailor-ui .mfp-zoom-in .mfp-figure, .tailor-ui .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -ms-transform: scale(0.92);
  -o-transform: scale(0.92);
  transform: scale(0.92);
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.tailor-ui .mfp-zoom-in.mfp-bg, .tailor-ui .mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.tailor-ui .mfp-zoom-in.mfp-loaded .mfp-figure {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.tailor-ui .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.tailor-ui .mfp-zoom-in.mfp-ready.mfp-bg, .tailor-ui .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}
.tailor-ui .mfp-zoom-in.mfp-removing .mfp-figure, .tailor-ui .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -ms-transform: scale(0.92);
  -o-transform: scale(0.92);
  transform: scale(0.92);
}
.tailor-ui .mfp-zoom-in.mfp-removing.mfp-bg, .tailor-ui .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}
.tailor-ui .placeholder-image {
  width: 100%;
  background-color: #efefef;
}
.tailor-ui .error {
  padding: 0.5em 1em;
  margin-bottom: 0;
  border: 1px solid #efefef;
}
.tailor-ui .tailor-notification {
  padding: 0.5em 1em;
  margin-bottom: 0;
  border: 1px solid #efefef;
}
.tailor-ui .tailor-notification--success, .tailor-ui .tailor-notification--warning, .tailor-ui .tailor-notification--error {
  border-left-width: 2px;
}
.tailor-ui .tailor-notification--success {
  border-left-color: #7ad03a;
}
.tailor-ui .tailor-notification--warning {
  border-left-color: #ffba00;
}
.tailor-ui .tailor-notification--error {
  border-left-color: #dd3d36;
}
.tailor-ui .tailor-icon, .tailor-editor .tailor-icon {
  line-height: 1.4;
}
.tailor-ui .lede {
  font-size: 1.125em;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.tailor-ui .dropcap:first-child:first-letter {
  float: left;
  display: block;
  font-style: normal;
  font-size: 5.5em;
  line-height: 1;
  margin: -0.12em 0.08em -0.12em -0.05em;
}
.tailor-ui .pullquote {
  display: block;
  float: left;
  padding: 1.5em;
  margin: 0 1.5em 0 0;
  width: 20.5em;
  background: #fdfdfd;
}
.tailor-ui .pullquote--right {
  float: right;
  margin: 0 0 0 1.5em;
}
.tailor-ui .pullquote p:last-child {
  margin-bottom: 0;
}
.tailor-ui .u-text-left {
  text-align: left;
}
.tailor-ui .u-text-center {
  text-align: center;
}
.tailor-ui .u-text-right {
  text-align: right;
}
.tailor-ui .u-text-justify {
  text-align: justify;
}
.tailor-ui .u-align-top {
  justify-content: flex-start;
}
.tailor-ui .u-align-middle {
  justify-content: center;
}
.tailor-ui .u-align-bottom {
  justify-content: flex-end;
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui .u-text-left-tablet {
    text-align: left;
  }
  .tailor-ui .u-text-center-tablet {
    text-align: center;
  }
  .tailor-ui .u-text-right-tablet {
    text-align: right;
  }
  .tailor-ui .u-text-justify-tablet {
    text-align: justify;
  }
  .tailor-ui .u-align-top-tablet {
    justify-content: flex-start;
  }
  .tailor-ui .u-align-middle-tablet {
    justify-content: center;
  }
  .tailor-ui .u-align-bottom-tablet {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 320px) {
  .tailor-ui .u-text-left-mobile {
    text-align: left;
  }
  .tailor-ui .u-text-center-mobile {
    text-align: center;
  }
  .tailor-ui .u-text-right-mobile {
    text-align: right;
  }
  .tailor-ui .u-text-justify-mobile {
    text-align: justify;
  }
  .tailor-ui .u-align-top-mobile {
    justify-content: flex-start;
  }
  .tailor-ui .u-align-middle-mobile {
    justify-content: center;
  }
  .tailor-ui .u-align-bottom-mobile {
    justify-content: flex-end;
  }
}
.tailor-ui .u-full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media only screen and (max-width: 320px) {
  .tailor-ui:not( .is-canvas) .u-hidden-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .tailor-ui:not( .is-canvas) .u-hidden-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 721px) {
  .tailor-ui:not( .is-canvas) .u-hidden-desktop {
    display: none !important;
  }
}
.tailor-ui .screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
}
.tailor-ui .not-a-button {
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
.tailor-ui .is-hidden {
  display: none !important;
}
